.contacts_zag{
    margin-bottom: 1.251875rem;
}
@media(max-width: 600px){
    .contacts_zag{
        margin-bottom: 3.57rem;
    }
}


.contacts__p_1{
    text-align: center;
    margin-bottom: 1.85rem;
}
@media(max-width: 600px){
    .contacts__p_1{
        margin-bottom: 4.58rem;
        font-size: 2.07rem;
    }
}


.button-obertka{
    margin-bottom: 5.36125rem;
}
@media(max-width: 600px){
    .button-obertka{
        margin-bottom: 5.52rem;
    }
}


.contacts__icons{
    text-align: center;
    margin-bottom: 2.86rem;
}
@media(max-width: 600px){
    .contacts__icons{
        margin-bottom: 5.53rem;
    } 
}


.contacts__icons a img{
    width: 2.444375rem;
}
@media(max-width: 600px){
    .contacts__icons a img{
        width: 4.62rem;
    }
}


.contacts__icons a:not(:last-child){
    margin-right: 3.75rem;
}


.contacts__p_2{
    text-align: center;
    color: var(--color-gray);
}
@media(max-width: 600px){
    .contacts__p_2{
        font-size: 2.07rem;
    }
}

.contacts__btn{
}
@media(max-width: 600px){
    .contacts__btn{
        font-size: 2.07rem;
    }
}