*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 16px;
}

/* Переделать */

@media (max-width: 1240px){
    html{
        font-size: 14.4px;
    }
}

@media (max-width: 900px){
    html{
        font-size: 12.8px;
    }
}

@media (max-width: 800px){
    html{
        font-size: 9.68px;
    }
}


@media (max-width: 600px){
    html{
        font-size: 8.68px;
    }
}



@media (min-width: 1800px){
    html{
        font-size: 19.2px;
    }
}


body{
    background: white;
    font-family: 'Gilroy-Medium';
    color: black;
}

section{
    font-size: 1.125rem;
}



.container{
    max-width: 59.86rem;
    margin: 0 auto;
}
@media(max-width: 600px){
    .container{
        padding: 0 1.8125rem;
    }
}



a:link, a:visited, a:active{
    text-decoration: none;
}